@media screen and (min-width: 0px) and (max-width: 1024px) {
    .main-header-inline-menu {
      display: none;
    }

    .main-header-icon-menu {
      display: block;
    }    
}

  @media screen and (min-width: 1024px) {
    .main-header-inline-menu {
      display: block;
    }
    .main-header-icon-menu {
      display: none;
    }
}
