<ion-menu side="start" id="side-menu" content-id="main-header-content">
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="newspaper-outline" slot="start"></ion-icon>
        <ion-list style="width:100%">
          <ion-list-header class="ion-c-smenu-text">Front Page</ion-list-header>
          <ion-progress-bar value="0.5"></ion-progress-bar>
        </ion-list>
      </ion-item>
      <ion-item>
        <ion-icon name="chatbox-ellipses-outline" slot="start"></ion-icon>
        <ion-list style="width:100%">
          <ion-list-header class="ion-c-smenu-text">Local News</ion-list-header>
          <ion-progress-bar value="0.4"></ion-progress-bar>
        </ion-list>
      </ion-item>
      <ion-item>
        <ion-icon name="business" slot="start"></ion-icon>
        <ion-list style="width:100%">
          <ion-list-header class="ion-c-smenu-text">Business</ion-list-header>
          <ion-progress-bar value="0.5"></ion-progress-bar>
        </ion-list>
      </ion-item>
      <ion-item>
        <ion-icon name="car-outline" slot="start"></ion-icon>
        <ion-list style="width:100%">
          <ion-list-header class="ion-c-smenu-text">Lifestyle</ion-list-header>
          <ion-progress-bar value="0.3"></ion-progress-bar>
        </ion-list>
      </ion-item>
      <ion-item>
        <ion-icon name="color-filter-outline" slot="start"></ion-icon>
        <ion-list style="width:100%">
          <ion-list-header class="ion-c-smenu-text">World</ion-list-header>
          <ion-progress-bar value="0.4"></ion-progress-bar>
        </ion-list>
      </ion-item>
      <ion-item>
        <ion-icon name="american-football-outline" slot="start"></ion-icon>
        <ion-list style="width:100%">
          <ion-list-header class="ion-c-smenu-text">Sports</ion-list-header>
          <ion-progress-bar value="0.8"></ion-progress-bar>
        </ion-list>
      </ion-item>
      <ion-item>
        <ion-icon name="call-outline" slot="start"></ion-icon>
        <ion-label>Contact us</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
