<ion-header id="main-header-content">
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-buttons >
            <ion-menu-button id="icon-menu-button"></ion-menu-button>
            <ion-label class="inline-menu" style="font-size: 80%;"><b>Edition:</b> Tuesday, 30 Aug 2022 ></ion-label>
          </ion-buttons>
        </ion-col>
        <ion-col style="text-align: center;" size-xs="6" size-sm="5" size-md="4" size-lg="3" size-xl="2" class="ion-align-items-center">
          <ion-img src="assets/logo/dempost.svg"></ion-img>
          <ion-label class="icon-menu" style="font-size: 70%; line-height: 1;"><br/><b>Edition:</b> Tuesday, 30 Aug 2022 ></ion-label>
        </ion-col>
        <ion-col style="text-align: right;">

            <stuff-auth-control></stuff-auth-control>
      </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <stuff-menu-bar></stuff-menu-bar>
</ion-header>
